<html>
    <head>
        <title>{{ title or 'Braiiin Outlines' }}</title>
        <link href="/static/assets/styles/public.css" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        {% block head %}
        {% endblock %}
    </head>
    <body>
        {% block content %}
        <header>
            {% block header %}
            {% if current_user.is_authenticated() %}
            <a href="{{ url_for('public.logout') }}">logout</a>
            {% else %}
            <a href="{{ url_for('public.login') }}">login</a>
            <a href="{{ url_for('public.register') }}">register</a>
            {% endif %}
            {% endblock %}
        </header>
        <main>
            {% block main %}
            {% endblock %}
        </main>
        {% endblock %}
    </body>
</html>
