{% extends "public/base.html" %}

{% set page='home' %}

{% block main %}
<div class="col-md-2"></div>
<form class="landing-center col-md-8" action="{{ url_for('public.search')}}">
    <img class="landing-logo" src="/static/assets/images/outline_logo.svg">
    <h1 class="landing-title">What would you like to learn about?</h1>
    <input class="landing-search" placeholder="type to search" name="query">
    <p class="landing-text">Type above to search by title. Precede by a pound sign to search by hashtag. You may combine search terms and hashtags, by separating each with spaces.</p>
    <span class="clearfix">
        <input class="button" type="submit" value="Learn More">
    </span>
    <span class="clearfix">
        <!-- <a href="/" class="landing-subtext">back to Braiiin</a> -->
    </span>
</form>
<div class="col-md-2"></div>
{% endblock %}
