{% extends "public/base.html" %}
{% block main %}

<div class="panel panel-content col-md-12">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="content">
            <h1>{{ outline.title }}</h1>
            <p>
                {% for hashtag in outline.hashtags %}
                <a href="{{ url_for('public.search', query='#'+hashtag) }}">#{{ hashtag }}</a>
                {% endfor %}
            </p>
            <div class="copy">
            {{ outline.html | safe }}
            </div>
        </div>
    </div>
    <div class="col-md-3"></div>
</div>
{% endblock %}
