{% extends "public/base.html" %}
{% block main %}
<div class="panel panel-search col-md-5">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <form class="psearch-bar col-md-12">
            <input class="psearchb-input col-md-9" placeholder="type to search">
            <div class="col-md-2 psearchb-button">
                <i class="fa fa-search psearchb-icon"></i>
                <input class="button small col-md-12" type="submit" value="">
            </div>
        </form>
        <p class="panel-text">search results for American Revolution</p>
        <div class="psearch-result">
            <p class="psearchr-text"><span class="tag gold">New</span><i class="fa fa-clock-o"></i>5m read</p>
            <h2 class="psearchr-title">Glorious Revolution</h2>
        </div>
        <div class="psearch-result">
            <p class="psearchr-text"><i class="fa fa-clock-o"></i>5m read</p>
            <h2 class="psearchr-title">Glorious Revolution</h2>
        </div>
        <div class="psearch-result">
            <p class="psearchr-text"><span class="tag gold">New</span><i class="fa fa-clock-o"></i>5m read</p>
            <h2 class="psearchr-title">Glorious Revolution</h2>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>
<div class="panel panel-content col-md-7">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="content">
            I. content
            II. content
            III. content
        </div>
    </div>
    <div class="col-md-2"></div>
</div>
{% endblock %}
